



#contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -90px;
    font-family: "Oswald", sans-serif;
}


/* Using the font size as measurement to move the label into right position. */
#contact-label {
    display: block;
    margin-right: 0.5em;
    margin-top: -0.3em;
}


/* Using flex-direction: column to make the button be under the text area. */
#message-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* Settings to make the button a bit further down from the textarea. */
#send-button {
    margin-top: 20px;
}