/* Stylesheet for h1. */
#title1 {
    color: #da0f0f;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;

}


#dataharvest-logo {
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: aliceblue;
    padding: 1em;
    text-align: right;
}

body {
    background-color: aliceblue;
}


#menuIcon {
    color: #000;
    font-size: 36px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    transition: box-shadow 0.2s, border 0.2s;
}

#menuIcon:hover {
    opacity: 0.85;
    box-shadow: 0 0 16px #da0f0f;
    border: 2px solid #da0f0f;
}

#menu-li {
    display: none;
    font-family: "Oswald", sans-serif;
    color: #f35005
}

#menu-li ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~#menu-li {
    display: block;
}

/* Stylesheet for the welcome text. */
.welcome-text {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 20px;
    text-align: center;
}


/* Stylesheet for the links being "idle". */
.hyperlinks a {
    color: blue;
    text-decoration: solid;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}


.hyperlinks {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Stylesheet when the user mouseover the link. */
.hyperlinks a:hover {
    color: blue;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    background-color: yellow;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;

}


#employee-desc {
    text-decoration: underline;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.image-links {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.image-links a {
    display: inline-block;
}

.image-links img {
    /* Change to your preferred width */
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin: 0;
    transition: box-shadow 0.2s, border 0.2s;
}

.image-links img:hover {
    box-shadow: 0 0 16px #da0f0f;
    border: 2px solid #da0f0f;
}

.image-link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin: 8px;
}


.image-desc {
    margin-top: 8px;
    font-size: 0.95em;
    color: #000;
    text-align: center;
}