



/* Stylesheet for h1. */
#title1 {
    color: #da0f0f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#temou-logo {
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Stylesheet for the welcome text. */
.welcome-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 20px;
    text-align: center;
}


/* Stylesheet for the links being "idle". */
.hyperlinks a {
    color: blue;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}


.hyperlinks {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Stylesheet when the user mouseover the link. */
.hyperlinks a:hover {
    color: blue;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    background-color: yellow;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;

}